/* main.css: aggregated stylesheet */
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./utils.css");
@import url("./pages/home.css");
@import url("./pages/project.css");
@import url("./pages/privacy.css");
